APP_NAME="WikiClip"
APP_DESCRIPTION="Echo Harbor Press Application"
APP_ENCODING_ALG="HS256"
APP_ISSUER="ehp.wickiclip"
APP_JWT_ENABLED="False"
APP_LOG_NAME=app.log
APP_VERSION=1.0.0
DEBUG=True
SESSION_TIMEOUT=600

# ELASTICSEARCH_URL="http://localhost:9200"
ELASTICSEARCH_URL="http://ehp-api-elasticsearch:9200"

DATABASE_URL=ehp-api-db
# DATABASE_URL=localhost
DATABASE_PORT=5432
POSTGRES_DB=ehpdbdev
POSTGRES_USER=ehpdbdev
POSTGRES_PASSWORD=TBD

SQLALCHEMY_ECHO=False
SQLALCHEMY_TRACK_MODIFICATIONS=False
SQLALCHEMY_POOL_RECYCLE=299
SQLALCHEMY_POOL_TIMEOUT=20

CONTACT_EMAIL=TBD
CONTACT_PHONE=TBD
EMAIL_USER=TBD
EMAIL_PASSWORD=TBD
EMAIL_SENDER=TBD
EMAIL_HOST=TBD
EMAIL_PORT=587
EMAIL_NAME="WikiClip"

DEFAULT_LANGUAGE=en_US
INITIAL_PHOTO=faces/face1.jpg
UPLOAD_FOLDER=static/uploads
ITEMS_PER_PAGE=15

# REDIS_HOST=localhost
REDIS_HOST=ehp-api-redis
REDIS_PORT=6379
SESSION_COOKIE_NAME=ehp-session

ES_KEY=TBD
