[flake8]
application-import-names = awf, application
exclude =
    .git,
    .venv,
    .env,
    old,
    .tox,
    __pycache__,
    migrations
ignore =
  # flake8 is too strict, black disagrees.
  W503, W504
  # Black disagrees.
  E203
  # Let developers use whatever variable names they want
  E741
  # isort misguided messages
  I001, I002, I003, I004, I005
max-line-length = 89
per-file-ignores =
  application.py:E402, F401, I100, I202
  whitelist.py:F821
  email.py:E501

import-order-style = appnexus
