aiofiles
aiosqlite
autoflake
alembic
asyncio
asyncpg
black
coverage
boto3
cuid
elasticsearch
fastapi
fastapi-sessions
flake8
flake8-import-order
httpx
invoke
isort
jinja2
mypy
psycopg2-binary
pycryptodome
pydantic
pydantic-settings
PyJWT
pytest
pytest-asyncio
pytest-cov
pytest-mock
python-dateutil
python-dotenv
python-multipart
redis
requests
sqlalchemy==2.0.30
# tox
traceback2
uvicorn[standard]
uuid
vulture
werkzeug
boto3-stubs[secretsmanager,s3]
moto[secretsmanager,s3]
fakeredis
Pillow
orjson
autoregistry
pypdf # For PDF processing
docx2txt
odfdo
beautifulsoup4
